.portfolio {
  margin: 0rem 5rem;
}
.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  //   border: 2px solid red;
  h3 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    margin-right: 2rem;
    color: #fff5c3;
  }
  h5 {
    color: #fff5c3;
    font-family: "work-sans", sans-serif;
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
    word-spacing: 0.4rem;
    margin: 1rem 0rem;
    color: #fff5c3;
  }
}
.works {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  .card {
    background-color: #fff5c3;
    padding: 2rem 2rem;
    height: 450px;
    width: 330px;
    margin: 4rem 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
  }
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    // box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }

  img {
    pointer-events: none;
    height: 320px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  h3 {
    pointer-events: none;
    width: 100%;
    text-align: left;
    color: #292c2c;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  h4 {
    pointer-events: none;
    width: 100%;
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
    color: #292c2c;
    font-family: "work-sans", sans-serif;
  }
}
